<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
    id="user_management"
    name="Users"
    groups="group_role_manager"
    web_icon="base,static/description/settings.png"
    sequence="400"
  />

    <menuitem
    id="user_management_user"
    parent="user_management"
    groups="group_role_manager"
    action="base.action_res_users"
    sequence='10'
  />
    <menuitem
    id="user_management_role"
    parent="user_management"
    groups="group_role_manager"
    action="base_user_role.action_res_users_role_tree"
    sequence='20'
  />
</odoo>
