<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="action_customer_manual" model="ir.actions.client">
        <field name="name">Customer Manual</field>
        <field name="tag">customer_manual.open</field>
    </record>

    <menuitem id="menu_customer_manual_root" name="Customer Manual" sequence="10" />

    <menuitem
        id="menu_customer_manual_open"
        name="Open Manual"
        parent="menu_customer_manual_root"
        action="action_customer_manual"
        sequence="1"
    />
</odoo>
